In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data(1).csv')

In [3]:
data.head()

                     Car    Model  Volume  Weight  CO2
0                 Toyoty     Aygo    1000     790   99
1  Mitsubishi Space Star      NaN    1200    1160   95
2                  Skoda  Citi go    1000     929   95
3                   Fiat      500     900     865   90
4                   Mini   Cooper    1500    1140  105

In [4]:
data.tail()

             Car    Model  Volume  Weight  CO2
31         Volvo     XC70    2000    1746  117
32          Ford    B-Max    1600    1235  104
33           BMW      216    1600    1390  108
34          Opel  Zafi ra    1600    1405  109
35  Mercedes SLK      NaN    2500    1395  120

In [9]:
data.shape

(36, 5)

In [10]:
data.size

180

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   30 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [12]:
data.describe()

            Volume       Weight         CO2
count    36.000000    36.000000   36.000000
mean   1611.111111  1292.277778  102.027778
std     388.975047   242.123889    7.454571
min     900.000000   790.000000   90.000000
25%    1475.000000  1117.250000   97.750000
50%    1600.000000  1329.000000   99.000000
75%    2000.000000  1418.250000  105.000000
max    2500.000000  1746.000000  120.000000

In [13]:
data.isna()

      Car  Model  Volume  Weight    CO2
0   False  False   False   False  False
1   False   True   False   False  False
2   False  False   False   False  False
3   False  False   False   False  False
4   False  False   False   False  False
5   False  False   False   False  False
6   False  False   False   False  False
7   False   True   False   False  False
8   False  False   False   False  False
9   False  False   False   False  False
10  False  False   False   False  False
11  False  False   False   False  False
12  False  False   False   False  False
13  False  False   False   False  False
14  False  False   False   False  False
15  False  False   False   False  False
16  False  False   False   False  False
17  False  False   False   False  False
18  False  False   False   False  False
19  False  False   False   False  False
20  False  False   False   False  False
21  False  False   False   False  False
22  False   True   False   False  False
23  False  False   False   False  False
24  False  False   False   False  False
25  False   True   False   False  False
26  False  False   False   False  False
27  False  False   False   False  False
28  False  False   False   False  False
29  False  False   False   False  False
30  False   True   False   False  False
31  False  False   False   False  False
32  False  False   False   False  False
33  False  False   False   False  False
34  False  False   False   False  False
35  False   True   False   False  False

In [14]:
data.nunique()

Car       21
Model     29
Volume    12
Weight    31
CO2       17
dtype: int64

In [57]:
data['Car'].unique()

array(['Toyoty', 'Mitsubishi Space Star', 'Skoda', 'Fiat', 'Mini', 'VW',
       'Mercedes A-Class', 'Ford', 'Audi', 'Hyundai', 'Suzuki', 'Honda',
       'Hundai', 'Opel', 'BMW', 'Mazda', 'Mercedes C-Class', 'Volvo',
       'Mercedes CLA', 'Mercedes E-Class', 'Mercedes SLK'], dtype=object)

In [17]:
import numpy as np

In [47]:
p = np.array([1,2,5,7,9])
q = np.array([8,9,0,8,3])

In [48]:
print("min :",p.min())
print("max :",p.max())
print("mean :",p.mean())
print("std :",p.std())

min : 1
max : 9
mean : 4.8
std : 2.993325909419153

In [60]:
print("percentile :",np.percentile(p,25))
print("sort :",np.sort(p))
print("vstack :",np.hstack((p,q)))

percentile : 2.0
sort : [1 2 5 7 9]
vstack : [1 2 5 7 9 8 9 0 8 3]