In [1]:
import pandas as pd

In [14]:
data = pd.read_csv('titanic.csv')

In [15]:
data.head()

   Survived  Pclass     Sex  Age  SibSp  Parch  Fare Embarked
0         0       3    male   22      1      0     7        S
1         1       1  female   38      1      0    71        C
2         1       3  female   26      0      0     7        S
3         1       1  female   35      1      0    53        S
4         0       3    male   35      0      0     8        S

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
data['Sex'] = le.fit_transform(data["Sex"])

In [19]:
data['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [21]:
data.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare Embarked
0         0       3    1   22      1      0     7        S
1         1       1    0   38      1      0    71        C
2         1       3    0   26      0      0     7        S
3         1       1    0   35      1      0    53        S
4         0       3    1   35      0      0     8        S

In [22]:
data['Embarked'] = le.fit_transform(data["Embarked"])

In [23]:
data.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0         0       3    1   22      1      0     7         2
1         1       1    0   38      1      0    71         0
2         1       3    0   26      0      0     7         2
3         1       1    0   35      1      0    53         2
4         0       3    1   35      0      0     8         2

In [25]:
X = data.drop(['Survived'],axis=1)
Y = data['Survived']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=4)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((623, 7), (268, 7), (623,), (268,))

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
classifier = RandomForestClassifier()

In [32]:
classifier.fit(x_train,y_train)

RandomForestClassifier()

In [33]:
prediction  = classifier.predict(x_test)

In [34]:
print(prediction)

[0 0 1 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0
 1 0 0 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 1 1
 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 1
 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 0 0 0 1 0 0]

In [38]:
from sklearn.metrics import classification_report

In [39]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86       178
           1       0.73      0.69      0.71        90

    accuracy                           0.81       268
   macro avg       0.79      0.78      0.78       268
weighted avg       0.81      0.81      0.81       268

In [42]:
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score

In [43]:
accuracy_score(y_test,prediction)

0.8097014925373134