In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('KNN Data set.csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [13]:
X = data.iloc[:,-2].values
Y = data["Purchased"]

In [14]:
X

array([ 19000,  20000,  43000,  57000,  76000,  58000,  84000, 150000,
        33000,  65000,  80000,  52000,  86000,  18000,  82000,  80000,
        25000,  26000,  28000,  29000,  22000,  49000,  41000,  22000,
        23000,  20000,  28000,  30000,  43000,  18000,  74000, 137000,
        16000,  44000,  90000,  27000,  28000,  49000,  72000,  31000,
        17000,  51000, 108000,  15000,  84000,  20000,  79000,  54000,
       135000,  89000,  32000,  44000,  83000,  23000,  58000,  55000,
        48000,  79000,  18000, 117000,  20000,  87000,  66000, 120000,
        83000,  58000,  19000,  82000,  63000,  68000,  80000,  27000,
        23000, 113000,  18000, 112000,  52000,  27000,  87000,  17000,
        80000,  42000,  49000,  88000,  62000, 118000,  55000,  85000,
        81000,  50000,  81000, 116000,  15000,  28000,  83000,  44000,
        25000, 123000,  73000,  37000,  88000,  59000,  86000, 149000,
        21000,  72000,  35000,  89000,  86000,  80000,  71000,  71000,
        61000,  55000,  80000,  57000,  75000,  52000,  59000,  59000,
        75000,  72000,  75000,  53000,  51000,  61000,  65000,  32000,
        17000,  84000,  58000,  31000,  87000,  68000,  55000,  63000,
        82000, 107000,  59000,  25000,  85000,  68000,  59000,  89000,
        25000,  89000,  96000,  30000,  61000,  74000,  15000,  45000,
        76000,  50000,  47000,  15000,  59000,  75000,  30000, 135000,
       100000,  90000,  33000,  38000,  69000,  86000,  55000,  71000,
       148000,  47000,  88000, 115000, 118000,  43000,  72000,  28000,
        47000,  22000,  23000,  34000,  16000,  71000, 117000,  43000,
        60000,  66000,  82000,  41000,  72000,  32000,  84000,  26000,
        43000,  70000,  89000,  43000,  79000,  36000,  80000,  22000,
        39000,  74000, 134000,  71000, 101000,  47000, 130000, 114000,
       142000,  22000,  96000, 150000,  42000,  58000,  43000, 108000,
        65000,  78000,  96000, 143000,  80000,  91000, 144000, 102000,
        60000,  53000, 126000, 133000,  72000,  80000, 147000,  42000,
       107000,  86000, 112000,  79000,  57000,  80000,  82000, 143000,
       149000,  59000,  88000, 104000,  72000, 146000,  50000, 122000,
        52000,  97000,  39000,  52000, 134000, 146000,  44000,  90000,
        72000,  57000,  95000, 131000,  77000, 144000, 125000,  72000,
        90000, 108000,  75000,  74000, 144000,  61000, 133000,  76000,
        42000, 106000,  26000,  74000,  71000,  88000,  38000,  36000,
        88000,  61000,  70000,  21000, 141000,  93000,  62000, 138000,
        79000,  78000, 134000,  89000,  39000,  77000,  57000,  63000,
        73000, 112000,  79000, 117000,  38000,  74000, 137000,  79000,
        60000,  54000, 134000, 113000, 125000,  50000,  70000,  96000,
        50000, 141000,  79000,  75000, 104000,  55000,  32000,  60000,
       138000,  82000,  52000,  30000, 131000,  60000,  72000,  75000,
       118000, 107000,  51000, 119000,  65000,  65000,  60000,  54000,
       144000,  79000,  55000, 122000, 104000,  75000,  65000,  51000,
       105000,  63000,  72000, 108000,  77000,  61000, 113000,  75000,
        90000,  57000,  99000,  34000,  70000,  72000,  71000,  54000,
       129000,  34000,  50000,  79000, 104000,  29000,  47000,  88000,
        71000,  26000,  46000,  83000,  73000, 130000,  80000,  32000,
        74000,  53000,  87000,  23000,  64000,  33000, 139000,  28000,
        33000,  60000,  39000,  71000,  34000,  35000,  33000,  23000,
        45000,  42000,  59000,  41000,  23000,  20000,  33000,  36000],
      dtype=int64)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=4)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((280,), (120,), (280,), (120,))

In [21]:
x_train = x_train.reshape(-1,1)
x_test = x_test.reshape(-1,1)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scale = StandardScaler()

In [25]:
x_train = scale.fit_transform(x_train)
x_test = scale.fit_transform(x_test)

In [27]:
from sklearn.neighbors import KNeighborsClassifier

In [28]:
kj = KNeighborsClassifier()

In [29]:
kj.fit(x_train,y_train)

KNeighborsClassifier()

In [30]:
predict = kj.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [32]:
confusion_matrix(y_test,predict)

array([[65, 16],
       [15, 24]], dtype=int64)

In [34]:
accuracy_score(y_test,predict)

0.7416666666666667